<div id="titulo">
    <h1>Lista de Productos</h1>
</div>

<div class="viewProducts">
    {{#each products}}
        <ul class="product">
            <li><span>Tittle: </span>{{this.title}}</li>
            <li><span>Description: </span>{{this.description}}</li>
            <li><span>Price: </span>${{this.price}}</li>
            <li><span>Stock: </span>{{this.stock}}</li>
            <li><span>ID: </span>{{this._id}}</li>
        </ul>
    {{/each}}
</div>

<div>
    <div>
        <form id="form1">
            <label for="addproduct">Ingrese un producto</label>
            <textarea type="text" id="addproduct" name="addproduct"> </textarea>
            <input type="submit" value="Agregar" class="btn-product">
        </form>
    </div>
    <div>
        <form id="form2" class="form">
            <label for="removeproduct">Ingrese ID del producto</label>
            <input type="text" id="removeproduct" name="removeproduct">
            <input type="submit" value="Eliminar" class="btn-product">
        </form>
    </div>
</div>




<script src="/js/realtimeproducts.js"></script>